/tmp/
tmp/
tmp.log
*.pyc
*.egg-info
.DS_Store
/env
/.env
token*.txt
*.docx
*.xls
client_secret.json
google_ser_key_py-52-060422.json
application_key_ok.txt
session_key_ok.txt
session_secret_key_ok.txt